* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
.navbar-brand a:hover{
    text-decoration: none;
}
div article a {
    color: white;
}
div article a:hover, div article a:active {
    color: lightgrey;
    text-decoration: none;
}
h1 {
    font-size: 1.75em;
    margin: 0 0 10px 0;
}
h2{
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
.row div article {
    margin: 10px 0px;
    border: 1px solid black;
    padding: 10px;
    background-color: grey;
}
ul {
    clear: both;
}
li {
    border: 1px solid grey;
}
header {
    background-color: grey;
}
.navbar-default {
    background-color: inherit;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-collapse{
    border: none;
}
.navbar-nav>hr {
    width: 80%;
    margin: 0 auto;
}
